@model IEnumerable<Domain.DomainModels.Professor>

@{
ViewData["Title"] = "Professor Index";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center mb-5">
    <h1 class="display-4 text-primary">Professors</h1>
</div>

@if (User.IsInRole("Admin"))
{
<div class="text-center mb-4">
    <a class="btn btn-success btn-lg" asp-action="Create">Create New Professor</a>
</div>
}

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <tbody>
        @foreach (var item in Model)
        {
        <tr class="align-middle">
            <td class="p-4">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h5 class="mb-0">@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</h5>
                        <p class="mb-0 text-muted">Faculty: @Html.DisplayFor(modelItem => item.Faculty.Name)</p>
                    </div>
                    <div class="text-end">
                        <a class="btn btn-info btn-sm m-1" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        @if (User.IsInRole("Admin"))
                        {
                        <a class="btn btn-dark btn-sm m-1" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-danger btn-sm m-1" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                    </div>
                </div>
            </td>
        </tr>
        }
        </tbody>
    </table>
</div>
