@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.FirstName">First Name</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.LastName">Last Name</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Address" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Address">Address</label>
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select id="roleSelect" asp-for="Input.Role" class="form-control" aria-required="true">
                    <option value="">Select a Role</option>
                    @foreach (var role in Model.Roles)
                    {
                        <option value="@role">@role</option>
                    }
                </select>
                <label asp-for="Input.Role">Role</label>
                <span asp-validation-for="Input.Role" class="text-danger"></span>
            </div>

            <div id="universityContainer" class="form-floating mb-3 d-none">
                <select asp-for="Input.UniversityId" class="form-control" aria-required="true" aria-placeholder="University">
                    <option value="">Select a University</option>  <!-- Optional default option -->
                    @foreach (var university in Model.Input.Universities)
                    {
                    <option value="@university.Id">@university.Name</option>
                    }
                </select>
                <label asp-for="Input.UniversityId">University</label>
                <span asp-validation-for="Input.UniversityId" class="text-danger"></span>
            </div>

            <div id="facultyContainer" class="form-floating mb-3 d-none">
                <select asp-for="Input.FacultyId" class="form-control" aria-required="true" aria-placeholder="Faculty">
                    <option value="">Select a Faculty</option>  <!-- Optional default option -->
                    @foreach (var faculty in Model.Input.Faculties)
                    {
                    <option value="@faculty.Id">@faculty.Name</option>
                    }
                </select>
                <label asp-for="Input.FacultyId">Faculty</label>
                <span asp-validation-for="Input.FacultyId" class="text-danger"></span>
            </div>

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.getElementById('roleSelect').addEventListener('change', function () {
            var universityContainer = document.getElementById('universityContainer');
            var facultyContainer = document.getElementById('facultyContainer');
            if (this.value === 'Student') {
                universityContainer.classList.remove('d-none');
                facultyContainer.classList.remove('d-none');
            } else {
                universityContainer.classList.add('d-none');
                facultyContainer.classList.add('d-none');
            }
        });
    </script>
}
